
.container-fluid {
    margin: 5px;
}

img.tim {
    max-height: 150px;
    border-radius: 50%;
}

.header {
    background-color: #F1BE4B;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #998965;
}

.nav {
    background-color: #d8a354;
}


.socials {
    background-color: #d8a354;
    text-align: center;
}


img.button {
    filter: sepia(60%);
}

img.button:hover {
    filter: none;
}

img.d-block w-100 {
    max-height: 100px;
}


img.downtown {
    max-height: 90px;
    padding-top: 1%;
}

h1 {
    font-family: 'Bevan', cursive;
    font-size: 70px;
    justify-content: center;
    padding-top: 30px;
}

h4 {
    font-family: 'Crimson Text', serif;
    color: black;
}

p {
    font-family: 'Crimson Text', serif;
    text-align: center;
}

.fb {
    border: 2px solid #998965;
    text-align: center;
    margin-top: 3px;
}

.fabceookdiv {
    align-items: center;
    justify-content: center;
}


.facebook {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin: 0 auto;
}

h3 {
    font-family: 'Bevan', cursive;
    font-size: 1.8em;
    text-align: center;
    border-top: double 5px #d8a354; 
    border-bottom: double 5px #d8a354;
    padding-top: 5px;
}

.footer {
    background-color: #998965;
    padding: 3px;
}

.hours {
    background-color: #998965;
    font-size: 14px;
    text-align: center;
    padding-top: 1%;
}

img.downtown2 {
    max-height: 90px;
    padding-top: 1%;
}

.downtownsmall {
    text-align: center;
}

.foot {
    border-radius: 10px;
}

a {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: white;
}

a:visited {
    color: black;
}

.food {
    text-align: center;
}

iframe.map {
    display:block;
    width:100%;
}

.foodpic {
    margin: 20px;
    max-width: 38%;
    max-height: 200px;
    border-radius: 30px;
    display: inline-block;
    opacity: 0.8;
}

.foodpic:hover {
    opacity: 1;
}

.menu {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h1.menutitle {
    font-size: 40px;
}

.aboutinfo {
    border: 2px solid #F1BE4B;
}

.aboutpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

.contactus {
    text-align: center;
    border: 2px solid #998965;
}
